.cover-container{
height: 100vh;
width: 100%;
object-fit: contain;
box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;


}

.audio{

    width: 200px;
    height: 200px;
    display: flex;
    
    
}
.cover-container > h1{
    color: white;
    font-size: 80px;
}

.cover-container > p{
    color: white;
    margin-top: 8px;
    font-size: 25px;
    
}
@media screen and (max-width: 960px) {
    .cover-container >h1{
        font-size: 70px;
        text-align: center;
    }
        .cover-container > p{
            text-align: center;
            font-size: 22px;
            width: 85%;

        }
    } 

    .button {
    background-color: rgba(122, 122, 206, 0);
    color: rgb(255, 255, 255);   
    border-radius: 25px;
    border-color: rgb(255, 255, 255);
    height: 70px;
    width: 150px;
    margin-top: 1%;
    margin-left: 0%;
    }

    .button2 {
        position: relative;
        padding: 10px 15px;
        border: none;
        outline: none;
        background: none);
        color: red;
        cursor: pointer;
    }

    .button:hover span:nth-child(1) {
        position: relative;
        padding: 10px 15px;
        border: none;
        outline: none;
        background: rgb(10, 240, 10);
        color: white;
        cursor: pointer;
    }