.nosotros-container {
    display: flex;
    background-color: white;
    color: black;
    height: 70vh;
    padding: 70px 0 70px 0;
}

.nosotros-descrip {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    width: 55%;
    padding: 0 100px 0 100px;
}

.nosotros-descrip>h4 {
    margin-bottom: 10px;
    color: #e0e0e0;
    font-weight: 400;
}

.nosotros-descrip>h1 {
    margin-bottom: 30px;
    font-size: 28px;
    color: #44d89e;
    font-weight: bold;
}

.nosotros-descrip>p {
    line-height: 1.5;
    text-align: justify;
}

.nosotros-img {

    width: 45%;
    display: flex;
    align-self: center;
    overflow: hidden;
}
@media only screen and (max-width: 1100px){
.nosotros-container{
    flex-direction: column;
    padding: 0;
    height: auto;
}
    .nosotros-descrip{
        width: 90%;
        margin: 0 auto;
 padding: 20px;
    }

    .nosotros-descrip > h4{
        font-size: 20px;
        text-align: center;}

.nosotros-img > img{
width: 100%;
padding-bottom: 20px;

}
    }



