.botones-burguer{

  display:none;
  background-color: blue;

}
.burguerboton{
  display: none;
}

@media (max-width: 990px){

.botones-burguer{
  display: flex;
  position: absolute;
  flex-direction: column;
background-color: black;
color: white;
}
.burguerboton{
  display: flex;
position: absolute;
right: 5%;
top: 2%;
cursor: pointer;
size: 40px;
color: white;

}

.burguerbotonclose{
  display: flex;
  position: absolute;
  right: 5%;
  top: 2%;
  cursor: pointer;
  size: 40px;
  color: white;
}

}