.container{
  display:flex;
justify-content: center;
  width: 100%;


}
.container-nav-principal{
  display:grid;
  grid-template-columns: 0.8fr 3fr 0.8fr ;
  position: fixed;
  width: 100%;
  padding: 20px;
  background-color: rgba(red, green, blue, alpha);
  
}

.botones{
display: flex;
justify-content: center;
align-items: center;
  
}

  .botones > a{
  display: inline-flex;
   padding: 20px;
  text-decoration: none;
  color: white;


}

.logotipo > a{
display: flex;
padding: 0 0 0 50px;
text-decoration: none;
color: white;
font-weight: 700;
}
.bi-fire{
  display: flex;
  justify-content: center;
  align-items: center;
color: white;
width: 80%;

}


.sesion{
  display: flex;
  align-items: center;
font-size: 15px;
font-weight: 600;
width: 100%;


}


.loginauth{
  background: none;
  border: none;
  color: white;
  margin-bottom: 6px;
  
}
.loginauth:hover{
color: black;
  transition: all 0.4s ease-in-out;
}


.bi-door-open
 {
  margin: 8px;
  
}


@media (max-width:990px){

  .container-nav-principal{
    display: none;
  }

}

 
  
