.footer {
    background-color: #2596be;
    color: white;
    padding: 1.5rem 1rem;
}

.footer-container{
    max-width:1024px;
    margin: 0 auto;
}

.footer-info {
    font-size: 35px;
    margin: 0 auto;
    text-align: center;
    margin-bottom:1.5rem;
}

.footer-detalle{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
}

.logofooter{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    gap: 1rem;
    text-align: center;
}

.logotipo-container{
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.footer-sns{
    display: flex;
    gap: 0.8rem;
}

.bi-instagram,
.bi-facebook,
.bi-linkedin,
.bi-geo-alt {
color: white;
transition: 0.3s;
}

.bi-instagram:hover,
.bi-facebook:hover,
.bi-linkedin:hover,
.bi-geo-alt:hover 
{
    color:#47c5f2;
}

.footer-col-detail{
    display:flex;
    flex-direction: column;
    font-size:0.7rem;
    color: white;
    gap: 0.5rem;
}

i > a {
    text-decoration:none;
    color: white;
    font-style: normal;
}

.footer-link{
    margin-left: 0.3rem;
}

.footer-col__title{
    font-size: 1.6rem;
}

.desing-by{
    text-align: center;
    margin-top: 2rem;
}

.copyright{
    font-size: 0.7rem;
}

.politicas{
    font-size: 0.7rem;
}

.politicas-link{
    text-decoration: none;
    color: white;
}

.politicas-link:hover{
    color:#47c5f2;
}



@media only screen and (max-width: 960px) {

    .footer-detalle{
        flex-direction: column;
    }
  
}