
.Container-principal{
margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card{
    box-shadow: -8px -5px 17px 1px rgba(0,0,0,0.59);
    -webkit-box-shadow: -8px -5px 17px 1px rgba(0,0,0,0.59);
    -moz-box-shadow: -8px -5px 17px 1px rgba(0,0,0,0.59);

}
.carousel, .carousel-inner, .carousel-item > img {
width: 1250px;
height: 550px;
}
.carousel-control-prev-icon{
    filter: invert(100%);
   margin-right: 70px;
}

.carousel-control-next-icon{
    filter: invert(100%);
    margin-left: 90px;

}

.card-title{
    color:#1ec1e4;
    text-align: center;
    font-weight: 700;
}
.card-text{
    text-align: center;
    font-weight: 500;
}


.card-footer, .text-muted{
    padding-right: 15px;
}
.btn{
    border: none;
    background-color:#2596be;

}
.btn:hover{
background-color:blue;
   transform:translateY(-4px); 
   transition: all 0.4s ease-in-out;
  }
.card-body-principal{
    display: inline-flex;
    width: 95%;
}





.card-redes > a{
    display: flex;
    color: #1ec1e4;
    padding: 5px;
}

.card-redes > a:hover{
    color: gray;
    transition: all 0.5s ease-in-out;
    
}