.personal-container {
  display: flex;
  vertical-align: center;
  align-items: center;
  background-color: #ffffff;
  padding: 30px;
  overflow: hidden;
  flex-direction: column;
  padding-top: 10px;
}
.personal-title {
  align-items: center;
  padding: 0 100px 0 100px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.personal-title > h2 {
  color: #44d89e;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.personal-cards {
  text-align: center;
  background-color: #ffffffa4;
  border-radius: 0px;
}

.personal-image{
    border-radius: 0px;
}

.personal-cards-title {
  color: #44d89e;
  margin-top: 18px;
  margin-bottom: 20px;
}
.personal-cards-subtitle{
    color: #3da77c;
    font-size: 20px;
}
.personal-cards-text {
  color: #000000;
  margin-top: 10px;
  font-size: 13px;
  font-weight: 400;
}
